## Mac ##
.DS_store

## Node & yarn ##
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package.tgz

## Rust ##
debug/
target/
**/*.rs.bk
*.pdb
